<%-include("./partials/header")%>
</div>
</div>
</div>
</div>





<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card text-center">
          <div class="card-body">
            <h2 class="card-title">Thank you for shopping with us!</h2>
            <p class="card-text">Would you like to shop again or continue browsing?</p>
            <div class="d-flex justify-content-center">
             
             <a href="/"> <button class="btn btn-primary">Continue Shopping</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  