<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <li class="menu-item has-submenu" id="coupons1">
        <a class="menu-link" href="/coupons"> <i class="icon material-icons md-monetization_on"></i>
            <span class="text">coupons</span>
        </a>
        <div class="submenu">
            <a href="/coupons"> coupons</a>
           
        </div>
       
    </li>
    <li class="menu-item has-submenu" id="offer">
        <a class="menu-link" href="/offer"> <i class="icon material-icons md-monetization_on"></i>
            <span class="text">Offer</span>
        </a>
        <div class="submenu">
            <a href="/offer"> Offer</a>
           
        </div>
       
    </li>

     <li class="menu-item has-submenu" id="salesreport">
        <a class="menu-link" href="/salesreport"> <i class="icon material-icons md-monetization_on"></i>
            <span class="text">Salesreport</span>
        </a>
        <div class="submenu">
            <a href="/salesreport">Salesreport</a>
           
        </div>
       
    </li>
    <li class="menu-item has-submenu">
        <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
            <span class="text">Account</span>
        </a>
        <div class="submenu">
            <a href="/admin-login">User login</a>
            <a href="/page-account-register">User registration</a>
            
        </div>
    </li>
    <!-- <li class="menu-item" id="reviews">
        <a class="menu-link" href="/page-reviews"> <i class="icon material-icons md-comment"></i>
            <span class="text">Reviews</span>
        </a>
    </li> -->

    <li class="menu-item has-submenu" id="reviews">
        <a class="menu-link" href="/bestsellingProduct">
            <i class="icon material-icons md-monetization_on"></i>
            <span class="text">bestsellingProduct</span>
        </a>
        <div class="submenu">
            <a href="/bestsellingProduct">BestSellingProduct</a>
            <a href="/bestsellingCategory">bestsellingCategory</a>
        </div>
    </li>
    
  
    <li class="menu-item">
        <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
            <span class="text">Statistics</span>
        </a>
    </li>
</ul>
<hr>
<ul class="menu-aside">
    <li class="menu-item has-submenu">
        <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
            <span class="text">Settings</span>
        </a>
        <div class="submenu">
            <a href="/page-settings-1">Setting sample 1</a>
            <a href="/page-settings-2">Setting sample 2</a>
        </div>
    </li>
    <li class="menu-item">
        <a class="menu-link" href="/page-blank"> <i class="icon material-icons md-local_offer"></i>
            <span class="text"> Starter page </span>
        </a>
    </li>
</ul>
<script>
    const currentUrl = window.location.pathname
    const coupons1 = document.getElementById("coupons1")
    const offer = document.getElementById("offer")
    const salesreport = document.getElementById("salesreport")
    const reviews = document.getElementById("reviews")

    if(currentUrl == "/coupons"){
        coupons1.classList.add("active")
    }else if(currentUrl ==="/offer" ){
        offer.classList.add("active")
    }else if(currentUrl === "/salesreport"){
        salesreport.classList.add("active")
    }else if(currentUrl === "/page-reviews"){
        reviews.classList.add("active")
    }

    </script>
<br>
<br>
</nav>
</aside>
</head>
<body>
    
